body{
    margin: 0;
}
nav{
    background: #0078D4;
    height: 70px;
}
.helo-section{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    background-color: #395471;
}
.form-head{
    background: #3A5CAC;
    padding-top: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 130px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#menus{
    display: flex;
    color: #ffffff;
    list-style: none;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
}
#menus li{
    cursor: pointer;
    margin-left: 20px ;
    font-size: 1.2rem;
}
#menus li:hover{
    color: rgb(255, 182, 87);
}

.profile {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
}

.profile .image img {
    border-radius: 50%; /* Make the image round */
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    object-fit: cover; /* Preserve aspect ratio and cover the circle */
}

.profile p {
    margin-top: 2px; /* Add space between image and welcome text */
    font-size: 1.0rem; /* Adjust the font size as needed */
}

.menu-icon {
    display: none; /* Initially hidden for larger screens */
    cursor: pointer;
    padding: 10px;
}
#menu-toggle {
    display: none; /* Initially hide the icon */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background: #0078D4;
    border: 1px solid #0078D4;
    border-radius: 5px;
  }
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Your existing CSS */


@media screen and (max-width: 860px) {
    .navbar {
        z-index: 1;
        /* flex-direction: column; */
    }

    #menus {
        display: none;
        z-index: 1;
        position: absolute;
        top: 55px;
        left: 0;
        height: 50vh;
        justify-content: flex-start;
        width: 50vw;
        background: #0078D4;
        flex-direction: column;
        align-items: start; 
    }

    #menus li {
        margin: 10px 0;
        font-size: 1.2rem;
    }
    #menu-toggle {
        display: flex; /* Show the icon on small screens */
      }
}
